
* {
  box-sizing: border-box;
}
#container{margin:0 auto;
font-family: Arial;
padding: 10px;
font-size: 15px;
background: #f1f1f1;
}
/* Style the heading */
 h1 {
  font-size: 30px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  clear: both;
  display: table; 
}

[class*="col-"]{
width: 100%;
float: left;
padding: 15px;
}

/* Style the top navigation bar */
.topnav {margin-top:0;
  overflow: hidden;
  background-color: #333;
  position:relative;
}
/* hide the links inside the menu*/
 #myTopnav{
 display: none; 
 }

/* Style the topnav links */
.topnav a{
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size:17px;
}


/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/*style the hamburger mwnu*/
.topnav a.icon {
display: block;
position: absolute;
right: 0;
top: 0;
}


/* style the image */

img {
  width:100%;
  height:300px;
}
/* style the label and input */

label,input,select,option{
  display:block;
  width: 250px;
  }

/* make list without bullet */
ul{list-style-type:none;
  }

li{line-height:200%;
  font-weight:bold;
  }

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is more than 600px wide*/

@media screen and (min-width:600px) {
/*make the navigation links horizontal */
 #myTopnav a {
 display: block; 
 float: left;   
 }
/*hide the hamburger links*/
.topnav a.icon{display:none;}
/* style the page sections */
.col-12 {width: 100%;}
 .col-6 {width: 50%;}
}




