
* {
  box-sizing: border-box;
}
#container{margin:0 auto;
font-family: Arial;
padding: 10px;
font-size: 15px;
background: #f1f1f1;
}
/* Style the heading */
 h1 {
  font-size: 30px;
}

/* Style the top navigation bar */
.topnav {margin-top:0;
  overflow: hidden;
  background-color: #333;
  position:relative;
}
/* hide the links inside the menu*/
.topnav #mytopnav {
  display:none;
 }

/* Style the topnav links */
.topnav a{
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/*display the hamburger menu*/
.topnav a.icon {display:block;
float:right;}


/* image */

img {
  width:100%;
  height:300px;
  nargin:5px;
  
}
/* style the label and input */

label,input,option{
  display:block;
  }

/* make list without bullet */
ul{list-style-type:none;
  }

li{line-height:200%;
  font-weight:bold;
  }

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is more than 600px wide*/

@media screen and (min-width:576px) {
/*make the navigation links horizontal */
  .topnav a {
    float: left;   
  }
/*hide the hamburger links*/
.topnav a.icon{display:none;}
/* style the landpage sections */
.col-12 {width:100%;}
 .col-6 {width:50%;}
}




